.vscode/**
.vscode-test/**
out/test/**
src/**
.yarnrc
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
doc
config
node_modules
out
scripts
utils
yarn-error.log
yarn.lock
