.fileInfoView {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--vscode-breadcrumbPicker-background);
  width: 297px;
  position: fixed;
  float: right;
  top: 0px;
  right: 0px;
  transition: all 0.3s;
  opacity: 1;
}
.hidden-right {
  width: 0px;
  opacity: 0;
}
.fileInfoView-titleBar {
  height: 35px;
  padding-left: 8px;
  padding-right: 8px;
}
.fileInfoView-titleBar-labelIcon {
  display: inline-block;
  height: 35px;
  width: 22px;
  vertical-align: middle;
}
.fileInfoView-titleBar-labelText {
  display: inline-block;
  vertical-align: bottom;
}
.fileInfoView-titleBar-titleLabel {
  line-height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 12px;
  display: inline-block;
}
.fileInfoView-titleBar-titleButton {
  position: fixed;
  cursor: pointer;
  right: 0px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 20px;
  margin-right: 20px;
}
.fileInfoView-type {
  padding: 0px 8px;
  line-height: 35px;
  width: calc(100% - 16px);
}
.fileInfoView-type-type {
  display: inline-block;
  padding: 0px 12px;
  width: calc(100% - 150px);
  min-width: 130px;
  white-space: nowrap;
}
.fileInfoView-type-line {
  display: inline-block;
  position: fixed;
  right: 0px;
  margin-right: 20px;
}
.fileTypeText {
  color: var(--vscode-charts-yellow);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
  width: calc(100% - 60px);
  text-overflow: ellipsis;
}
.fileLineText {
  color: var(--vscode-charts-blue);
}
.fileInfoView-fileDescription {
  padding: 0px 20px;
}
.fileInfoView-fileDescription-title {
  line-height: 35px;
}
.fileInfoView-fileDescription-view {
  color: var(--vscode-charts-green);
  word-break: break-all;
}
.fileInfoView-functionBox {
  padding: 0px 20px;
  flex: 1;
  overflow: hidden;
}
.fileInfoView-functionBox-title {
  line-height: 35px;
}
.fileInfoView-functionBox-function {
  width: 100%;
  height: calc(100% - 50px);
}
.function-comment {
  color: var(--vscode-charts-green);
  word-break: break-all;
}
