.page {
	width: 100%;
	height: 100%;
}
.links line {
	stroke: #333;
}
.nodes circle {
	pointer-events: all;
	stroke: none;
	stroke-width: 40px;
}

#parent_div {
	width: 400px;
	height: 100px;
	margin-right: 10px;
	float: left;
}
.child_div_1,
.child_div_2 {
	float: left;
	margin-right: 5px;
}
