.settingViewMask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: var(--vscode-breadcrumb-background);
}
.settingView {
  margin: 20px auto 0px auto;
  height: calc(100% - 20px);
  position: absolute;
  width: 100%;
  max-width: 800px;
  left: 0px;
  right: 0px;
}
.closeButton {
  cursor: pointer;
  margin-bottom: 20px;
}

.settingView-inputBox {
  display: inline-block;
  width: 80%;
}

.settingView-button {
  top: 29px;
  float: right;
  width: 18%;
}

.settingView-detailsList {
  margin-top: 5px;
}

.settingView-inputBox-alias {
  width: 39%;
  display: inline-block;
}

.settingView-inputBox-path {
  width: 39%;
  display: inline-block;
  margin-left: 15px;
}
.setting-resolveList-title {
  background: var(--vscode-badge-background);
}
.setting-resolveList-title-item {
  display: inline-block;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  box-shadow: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  overflow-wrap: break-word;
}
.alias {
  width: 41%;
}
.path {
  width: 41%;
}
.delete {
  width: 18%;
}
.setting-resolveList-detail,
.setting-resolveList-detail-line {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background: var(--vscode-debugToolBar-background);
  line-height: 32px;
}
.setting-resolveList-detail-item {
  display: inline-block;
  vertical-align: middle;
  text-align: start;
}
.confirm-resolve {
  margin-top: 20px;
}
